<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.ubbcluj.cs.books.books">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="ro.ubbcluj.cs.books.BookApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ro.ubbcluj.cs.books.BookListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ro.ubbcluj.cs.books.EventDetailActivity"
            android:label="@string/title_event_detail"
            android:parentActivityName="ro.ubbcluj.cs.books.BookListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.ubbcluj.cs.books.BookListActivity" />
        </activity>
        <activity
            android:name="ro.ubbcluj.cs.books.NewBook"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>