<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>UniEats uses your location while the Near Me screen is open to list food spots within 2 km.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.unieats.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>unieats</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
