<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ro.cojocar.dan.vectordrawable">
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ExampleActivity"
                android:label="@string/example_from_documentation"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".RotateActivity"
                android:label="@string/clock"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".PathMorphActivity"
                android:label="@string/smiling_face"
                android:parentActivityName=".MainActivity"/>
        <activity
                android:name=".FillInHeartActivity"
                android:label="@string/fill_in_heart"
                android:parentActivityName=".MainActivity"/>
    </application>
</manifest>
