<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ro.cojocar.dan.apianimations">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".AnimationsActivity" />
    <activity android:name=".CardFlipActivity" />
    <activity android:name=".CrossfadeActivity" />
    <activity android:name=".LayoutChangesActivity" />
    <activity android:name=".ScreenSlideActivity" />
    <activity android:name=".ZoomActivity" />

    <activity
      android:name=".apis.AnimationLoading"
      android:hardwareAccelerated="false"
      android:label="6. Loading"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.AnimationCloning"
      android:hardwareAccelerated="false"
      android:label="3. Cloning"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.AnimationSeeking"
      android:hardwareAccelerated="false"
      android:label="4. Seeking"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.AnimatorEvents"
      android:hardwareAccelerated="false"
      android:label="5. Events"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.BouncingBalls"
      android:hardwareAccelerated="false"
      android:label="11. Bouncing Balls"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.CustomEvaluator"
      android:hardwareAccelerated="false"
      android:label="7. Custom Evaluator"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.ListFlipper"
      android:label="10. View Flip"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.ReversingAnimation"
      android:hardwareAccelerated="false"
      android:label="2. Reversing"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.MultiPropertyAnimation"
      android:hardwareAccelerated="false"
      android:label="8. Multiple Properties"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.LayoutAnimationsHideShow"
      android:label="9. Hide-Show Animations"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.LayoutAnimationsByDefault"
      android:label="1. Default Layout Animations"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>

    <activity
      android:name=".apis.Transition3d"
      android:label="12. Transition3D"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>


  </application>

</manifest>